body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans - serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source - code - pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
}

label {
  display: block;
  margin: 0;
}

input {
  display: block;
  margin: 0;
}

.statistics {
  margin: auto;
  background-color: #bfd7d9be;
  border-radius: 5px;
  max-width: 350px;
  max-height: auto;
  border: solid #5e5d5d23 1px;
}

.title {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: #5f5f5f;
  margin: 30px;
}

.statList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 20%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.label {
  font-size: 15px;
  color: #edeaea;
}

.percentage {
  font-size: 15px;
  font-weight: 600;
  color: #edeaea;
}
